---
import { info } from "@data";

import Layout from "@layouts/Layout.astro";
import Hero from "@components/home/Hero.astro";
import Experience from "@components/home/Experience.astro";
import Frameworks from "@components/home/Frameworks.astro";
import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
import MetaHead from "@components/general/MetaHead.astro";

const featureProjects = info.projects.reduce((accumulator, project) => {
	if (accumulator.length < 6 && project.isFeatured) {
		accumulator.push(project);
	}
	return accumulator;
}, []);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<MetaHead
			title={"Portfolio"}
			description={info.about}
			url={info.baseUrl}
		/>
		<meta property="og:image" content="https://sandros.software/assets/images/profile.png" />
	</head>
	<body>
		<Layout>
			<div class="flex justify-between items-center flex-wrap">
				<div class="dark:text-light text-xl font-semibold mt-[117px]">
					My Resume - 
					<a class="dark:text-light text-xl font-semibold" href="https://drive.google.com/file/d/1Bh1voln4g7aOZ1b0uV_ltbH6A-mXmDb2/view?usp=sharing" target="_blank">Eng</a>
					|
					<a  class="dark:text-light text-xl font-semibold" href="https://drive.google.com/file/d/1DazOJW23NcU4H0G6O-fLes3r7VK6Bf5C/view?usp=sharing" target="_blank">Geo</a>
				</div>
			</div>
			<Hero name={info.name} about={info.about} />
			<Experience title={"EXPERIENCE"} details={info.experience} />
			<Experience title={"EDUCATION"} details={info.education} />
			<Frameworks title={"WORKED WITH"} frameworks={info.frameworks} languages={info.languages}/>
			<section>
				<h2 class="w-[15rem] dark:text-light mt-16">PROJECTS</h2>
				<ProjectsWrapper projects={featureProjects} />
			</section>
		</Layout>
	</body>
</html>
